.s12 {
    font-size: 12px;
    font-weight: 400;
}
.s14 {
    font-size: 14px;
    font-weight: 500;
}
.s16 {
    font-size: 16px;
    font-weight: 400;
}
.s17 {
    font-size: 17px;
    font-weight: 400;
}
.s18 {
    font-size: 18px;
    font-weight: 400;
}
.s19 {
    font-size: 19px;
    font-weight: 500;
}
.s20 {
    font-size: 20px;
    font-weight: 500;
}
.s20s {
    font-size: 20px;
    font-weight: 700;
}
.s25 {
    font-size: 25px;
    font-weight: 700;
}
.s27 {
    font-size: 27px;
    font-weight: 500;
}
.s28 {
    font-size: 28px;
    font-weight: 600;
}
.s32 {
    font-size: 32px;
    font-weight: 700;
}
.s36 {
    font-size: 36px;
    font-weight: 700;
}
.s48 {
    font-size: 48px;
    font-weight: 700;
}
.cyellow {
    color: #F4B41B;
}
